.channel-container {
  width: 20rem;
  font-family: "Segoe UI", sans-serif;
  color: white;
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.4);
}

.channel-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #7e1fff, #ff4081);
  padding: 0.75rem 1rem;
  font-size: 1.12rem;
  font-weight: bold;
  color: white;
}

.channel-list {
  overflow-y: auto;
  height: calc(97vh - 52px);
}

.channel-item {
  display: flex;
  gap: 0.75rem;
  padding: 0.625rem 0.875rem;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}

.channel-item .channel-serial {
  padding: 0 0.5rem;
}

.channel-item .channel-title {
  flex: 1;
}

.channel-item span:first-child {
  width: 2.5rem;
  color: #ff4081;
}
