.player-container {
  flex: 1;
  text-align: center;
  padding: 1.25rem;
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.4);
}

.audio-player {
  width: 100%;
  filter: brightness(1.2);
  background-color: #1c1b29;
}

.audio-player:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.audio-player:focus::-webkit-media-controls-panel,
.audio-player:focus::-webkit-media-controls-play-button,
.audio-player:focus::-webkit-media-controls-volume-slider,
.audio-player:focus::-webkit-media-controls-seekbar {
  outline: none;
  box-shadow: none;
}

.player-button {
  padding: 0.6rem 1.4rem;
  font-size: 1.6rem;
  color: white;
  border: none;
  border-radius: 0.5rem;
  background: linear-gradient(135deg, #ff69b4, #8a2be2); /* pink to purple */
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  margin-bottom: 1rem;
  will-change: transform, box-shadow;
}

.seekbar {
  width: 100%;
  height: 8px;
  appearance: none;
  background: linear-gradient(to right, #ff69b4, #8a2be2);
  border-radius: 2px;
}

.seekbar::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}

.player-button-focused {
  box-shadow: 0 0rem 1rem rgba(255, 100, 232, 0.4);
  transform: scale(1.05);
}

.title {
  font-size: 1.8rem;
  font-weight: 500;
  color: #ff4081;
  margin-bottom: 4rem;
}

.stream-error {
  color: #b71c1c;
  text-align: right;
}

.station-details {
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 3rem;
}

.station-details .title-section {
  width: 40%;
}

.station-details .station-title {
  color: #ff4081;
  font-size: 1.8rem;
}

.station-details .ratings {
  font-size: 1.4rem;
}

.other-details {
  flex: 1;
  font-size: 1.2rem;
}

.v-divider {
  width: 1px;
  height: 5rem;
  background-color: #2b2540;
}
