.player-container {
  flex: 1;
  text-align: center;
  padding: 1.25rem;
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.4);
}

.audio-player {
  display: none;
  width: 100%;
  filter: brightness(1.2);
}

input[type="range"] {
  outline: none;
}

input[type="range"]:focus {
  outline: none;
  box-shadow: none;
  border: none;
}

.focused-shadow {
  box-shadow: 0 0rem 2rem rgba(255, 100, 232, 0.6);
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.seeker-focusable {
  flex: 1;
  border-radius: 2rem;
}

.seekbar {
  width: 100%;
  height: 8px;
  appearance: none;
  background: linear-gradient(to right, #ff69b4, #8a2be2);
  border-radius: 2px;
}

.seekbar:focus {
  box-shadow: 0 0rem 1rem rgba(255, 100, 232, 0.4);
}

.seekbar::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  background: #ff69b4;
  border-radius: 50%;
  cursor: pointer;
}

.show-name {
  font-size: 1.2rem;
  color: #fff;
  margin-top: 2rem;
}

.thumbnail {
  border-radius: 0.5rem;
  height: 120px;
  width: 120px;
  margin-bottom: 2rem;
  border: 4px solid white;
}

.title {
  font-size: 1.8rem;
  font-weight: 500;
  color: #ff4081;
  margin-bottom: 2rem;
}

.stream-error {
  color: #b71c1c;
  text-align: right;
}

.station-details {
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 3rem;
}

.station-details .title-section {
  width: 40%;
  text-align: left;
}

.station-details .station-title {
  color: #f15dcd;
  font-size: 1.8rem;
  font-weight: 500;
  margin-left: 1.5rem;
}

.station-details .ratings {
  font-size: 1.4rem;
  margin-left: 1.5rem;
}

.station-details .other-details {
  flex: 1;
  font-size: 1.2rem;
}

.station-details .v-divider {
  width: 1px;
  height: 5rem;
  background-color: #2b2540;
}
